p {
    margin: 0;
    padding: 5px 15px;
    font-size: 13px;
    text-align: center;
    z-index: 2;
    transition: all 0.15s ease-in-out;
    transform: translateY(0);
    color: #fff;

    i {
        font-size: 10px;
        margin-right: 3px;
    }
}

.success {
    background: #559955;
}

.error {
    background: #964646;
}

.show,
.hide {
    transform: translateY(-75px);
    z-index: 1;
}